{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Address Search</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkPCeMz0ASAkuIE30jFPNEziJ6QKIGfMU&libraries=places"></script>
  </head>
  <body class="bg-gray-100 text-gray-800">
    {% block content %}

    <div class="mt-6 max-w-4xl mx-auto grid grid-cols-2 gap-6">
      <div>
        <form
          method="POST"
          action="{% url 'geocode_address' %}"
          class="bg-white p-6 rounded-lg shadow-md"
        >
          {% csrf_token %}
          <label for="address-input">Address</label><br />
          <input
            id="address-input"
            type="text"
            name="address"
            placeholder="Type an address..."
            required
            class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
          <label for="kwh-consumption">kWh consumption</label><br />
          <input
            id="kwh-consumption"
            type="number"
            name="kwh-consumption"
            placeholder="1000"
            min="1000"
            max="10000"
            class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
          <label for="percentage">Percentage escalator</label><br />
          <input
            id="percentage"
            type="number"
            name="kwh-consumption"
            placeholder="4"
            min="4"
            max="10"
            class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
          <button
            type="submit"
            class="mt-4 w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600"
          >
            Search
          </button>
        </form>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-md">
        {% if address %}
        <h2 class="text-2xl font-semibold">Geocoded Address</h2>
        <p><strong>Address:</strong> {{ address }}</p>
        <p><strong>The average ¢/kWh:</strong></p>
        <p><strong>Most Likely Tariff:</strong></p>
        <p><strong>Cost of their utility for the first year:</strong></p>
        {% endif %}
      </div>
    </div>

    {% if data %}
    <div
      class="mt-6 max-w-4xl mx-auto grid grid-cols-2 gap-6 bg-white rounded-lg shadow-md"
    >
      <div class="col-span-2 p-6">
        <h2 class="text-2xl font-semibold">Utility Tariffs Data</h2>
        <ul class="mt-4 space-y-4">
          {% for item in data %}
          <li class="bg-gray-100 p-4 rounded-md shadow">
            <p><strong>Utility:</strong> {{ item.utility }} - {{item.name}}</p>
            <p><strong>Start Date:</strong> {{ item.startdate }}</p>
            <p><strong>End Date:</strong> {{ item.enddate }}</p>
            <p><strong>Sector:</strong> {{ item.sector }}</p>
            <p><strong>Service Type:</strong> {{ item.servicetype }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const input = document.getElementById("address-input");
        const autocomplete = new google.maps.places.Autocomplete(input);
      });
    </script>
    {% endblock %}
  </body>
</html>
